source "Kconfig.zephyr"

config TOP_SHELL
    bool "Enable top-like screen in shell"
    depends on SHELL
    default y

config PWM_FREQUENCY
    int "PWM motors frequency in Hz"
    depends on PWM
    default 400
    
menu "RDD2"

rsource "subsys/Kconfig"
rsource "drivers/Kconfig"

endmenu
